# Projeto 1 - Ciência dos dados

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

{Texto contextualizando aqui}

A pergunta a ser respondida é: 

**É possível aumentar o IDH sem acentuar o uso de recursos naturais?** (co2 emission tonnes per person; energy use per person)

### Abrindo os dados:

In [2]:
idh= pd.read_excel('IDH.xlsx')

co2=pd.read_excel('co2_emissions_tonnes_per_person.xlsx')

energy=pd.read_excel('energy_use_per_person.xlsx')

energy.head()

,geo,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,707.0,680.0,711.0,732.0,729.0,765.0,688.0,801.0,808.0,NaN
1,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1030.0,1070.0,1070.0,1150.0,1110.0,1140.0,1220.0,1240.0,1320.0,NaN
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,456.0,470.0,491.0,514.0,521.0,522.0,553.0,534.0,545.0,NaN
3,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1580.0,1600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1840.0,1850.0,1920.0,1850.0,1910.0,1930.0,1920.0,1950.0,2020.0,NaN

### Selecionando um ano para trabalho:

In [3]:
co2_2013 = co2.loc[:,["geo", 2013]]

In [4]:
idh_2013=idh.loc[:,["geo", 2013 ]]

In [5]:
energy_2013= energy.loc[:,["geo", 2013]]

energy_2013.head()

                   geo    2013
0              Albania   801.0
1              Algeria  1240.0
2               Angola   534.0
3  Antigua and Barbuda     NaN
4            Argentina  1950.0

## Setando index:

In [6]:
co2_idx = co2_2013.set_index('geo')

idh_idx = idh_2013.set_index('geo')

energy_idx = energy_2013.set_index('geo')

energy_idx.head()

                       2013
geo
Albania               801.0
Algeria              1240.0
Angola                534.0
Antigua and Barbuda     NaN
Argentina            1950.0

## Juntando os dataframes:

In [7]:
df= co2_idx.join(energy_idx, how='inner', lsuffix='_co2', rsuffix='_energy')

df.head()

                     2013_co2  2013_energy
geo
Albania                  1.73        801.0
Algeria                  3.51       1240.0
Angola                   1.25        534.0
Antigua and Barbuda      5.36          NaN
Argentina                4.46       1950.0

Juntando à terceira tabela:

In [8]:
dados = idh_idx.join(df, how="inner")
dados1 = dados.rename(columns={2013:"2013_idh"})
dados1.head()

                     2013_idh  2013_co2  2013_energy
geo
Albania                 0.761      1.73        801.0
Algeria                 0.741      3.51       1240.0
Angola                  0.527      1.25        534.0
Antigua and Barbuda     0.782      5.36          NaN
Argentina               0.825      4.46       1950.0

In [10]:
writer = pd.ExcelWriter('dados_jadson.xlsx')
dados1.to_excel(writer)
writer.save()